In [91]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date, time, datetime
%matplotlib inline

In [92]:
train_labels = pd.read_csv('train_labels.csv')
train_labels.shape

(260601, 2)

In [93]:
train_values = pd.read_csv('train_values.csv', usecols=['building_id', 'plan_configuration', 
                                                        'has_superstructure_adobe_mud', 
                                                        'has_superstructure_mud_mortar_stone', 
                                                        'has_superstructure_stone_flag',
                                                        'has_superstructure_cement_mortar_stone',
                                                        'has_superstructure_mud_mortar_brick',
                                                        'has_superstructure_cement_mortar_brick',
                                                        'has_superstructure_timber',
                                                        'has_superstructure_bamboo', 
                                                        'has_superstructure_rc_non_engineered',
                                                        'has_superstructure_rc_engineered', 
                                                        'has_superstructure_other'])
train_values.shape

(260601, 13)

In [94]:
labels_and_values = train_labels.merge(train_values, how='inner')
labels_and_values

        building_id  ...  has_superstructure_other
0            802906  ...                         0
1             28830  ...                         0
2             94947  ...                         0
3            590882  ...                         0
4            201944  ...                         0
...             ...  ...                       ...
260596       688636  ...                         0
260597       669485  ...                         0
260598       602512  ...                         0
260599       151409  ...                         0
260600       747594  ...                         0

[260601 rows x 14 columns]

In [95]:
plan_and_materials = train_values.groupby('plan_configuration').agg({'plan_configuration':'count'})
plan_and_materials.columns = ['buildings_per_plan']
plan_and_materials = plan_and_materials.reset_index()

In [96]:
grouped_by_plan = labels_and_values.groupby(['plan_configuration', 'damage_grade']).agg({'has_superstructure_adobe_mud':'sum', 
                                                        'has_superstructure_mud_mortar_stone':'sum', 
                                                        'has_superstructure_stone_flag':'sum',
                                                        'has_superstructure_cement_mortar_stone':'sum',
                                                        'has_superstructure_mud_mortar_brick':'sum',
                                                        'has_superstructure_cement_mortar_brick':'sum',
                                                        'has_superstructure_timber':'sum',
                                                        'has_superstructure_bamboo':'sum', 
                                                        'has_superstructure_rc_non_engineered':'sum',
                                                        'has_superstructure_rc_engineered':'sum', 
                                                        'has_superstructure_other':'sum'})
grouped_by_plan = grouped_by_plan.reset_index()

In [97]:
merged = plan_and_materials.merge(grouped_by_plan, how='inner')

In [98]:
position = merged.columns.get_loc('has_superstructure_adobe_mud') + 1
merged.insert(loc=position, column='efectivity_adobe_mud', value=(merged.loc[:,'has_superstructure_adobe_mud']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [99]:
position = merged.columns.get_loc('has_superstructure_mud_mortar_stone') + 1
merged.insert(loc=position, column='efectivity_mud_mortar_stone', value=(merged.loc[:,'has_superstructure_mud_mortar_stone']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [100]:
position = merged.columns.get_loc('has_superstructure_stone_flag') + 1
merged.insert(loc=position, column='efectivity_stone_flag', value=(merged.loc[:,'has_superstructure_stone_flag']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [101]:
position = merged.columns.get_loc('has_superstructure_cement_mortar_stone') + 1
merged.insert(loc=position, column='efectivity_cement_mortar_stone', value=(merged.loc[:,'has_superstructure_cement_mortar_stone']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [102]:
position = merged.columns.get_loc('has_superstructure_mud_mortar_brick') + 1
merged.insert(loc=position, column='efectivity_mud_mortar_brick', value=(merged.loc[:,'has_superstructure_mud_mortar_brick']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [103]:
position = merged.columns.get_loc('has_superstructure_cement_mortar_brick') + 1
merged.insert(loc=position, column='efectivity_cement_mortar_brick', value=(merged.loc[:,'has_superstructure_cement_mortar_brick']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [104]:
position = merged.columns.get_loc('has_superstructure_timber') + 1
merged.insert(loc=position, column='efectivity_timber', value=(merged.loc[:,'has_superstructure_timber']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [105]:
position = merged.columns.get_loc('has_superstructure_bamboo') + 1
merged.insert(loc=position, column='efectivity_bamboo', value=(merged.loc[:,'has_superstructure_bamboo']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [106]:
position = merged.columns.get_loc('has_superstructure_rc_non_engineered') + 1
merged.insert(loc=position, column='efectivity_rc_non_engineered', value=(merged.loc[:,'has_superstructure_rc_non_engineered']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [107]:
position = merged.columns.get_loc('has_superstructure_rc_engineered') + 1
merged.insert(loc=position, column='efectivity_rc_engineered', value=(merged.loc[:,'has_superstructure_rc_engineered']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [108]:
position = merged.columns.get_loc('has_superstructure_other') + 1
merged.insert(loc=position, column='efectivity_other_materials', value=(merged.loc[:,'has_superstructure_other']/(merged.loc[:,'buildings_per_plan']*merged.loc[:,'damage_grade'])))

In [113]:
merged

   plan_configuration  ...  efectivity_other_materials
0                   a  ...                    0.039683
1                   a  ...                    0.013889
2                   a  ...                    0.000000
3                   c  ...                    0.009231
4                   c  ...                    0.007692
5                   c  ...                    0.000000
6                   d  ...                    0.002323
7                   d  ...                    0.004219
8                   d  ...                    0.001272
9                   f  ...                    0.022727
10                  f  ...                    0.000000
11                  m  ...                    0.000000
12                  m  ...                    0.010870
13                  m  ...                    0.000000
14                  n  ...                    0.000000
15                  n  ...                    0.000000
16                  n  ...                    0.008772
17                  o  ...                    0.000000
18                  o  ...                    0.003145
19                  o  ...                    0.004193
20                  q  ...                    0.004216
21                  q  ...                    0.006061
22                  q  ...                    0.001933
23                  s  ...                    0.002890
24                  s  ...                    0.008671
25                  s  ...                    0.001927
26                  u  ...                    0.010140
27                  u  ...                    0.006577
28                  u  ...                    0.000822

[29 rows x 25 columns]

In [112]:
merged.pivot_table(index=['plan_configuration'], 
                    values= ['efectivity_adobe_mud', 
                             'efectivity_mud_mortar_stone', 
                             'efectivity_stone_flag',
                             'efectivity_cement_mortar_stone',
                             'efectivity_mud_mortar_brick',
                             'efectivity_cement_mortar_brick',
                             'efectivity_timber',
                             'efectivity_bamboo', 
                             'efectivity_rc_non_engineered',
                             'efectivity_rc_engineered', 
                             'efectivity_other_materials'], fill_value='0')

                    efectivity_adobe_mud  ...  efectivity_timber
plan_configuration                        ...
a                               0.007937  ...           0.084436
c                               0.008376  ...           0.043419
d                               0.013090  ...           0.043232
f                               0.030303  ...           0.079545
m                               0.032609  ...           0.032609
n                               0.005848  ...           0.057018
o                               0.008735  ...           0.068134
q                               0.018105  ...           0.035127
s                               0.021355  ...           0.072254
u                               0.021619  ...           0.062194

[10 rows x 11 columns]